<html>
	<head>
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
		<title>Edit Products</title>
	</head>
	<body>
        {% with messages = get_flashed_messages(category_filter = ['regis_errors']) %}
            {% if messages %}
                {% for message in messages %}
                    <p id="flag">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
		<h3>Ad a new Product</h3>
		<form action="/addnew/create" method="POST"><br>
			Name<br>
			<input type="text" name="name"><br>
			Description<br>
			<input type="text" name="description"><br>
			Price<br>
			<input type="text" name="price"><br>
			<input type="submit" value="Create">
		</form>
		<a href="/">Back</a>
	</body>
</html>
